<section>
  <h1>
    <a name="about">About</a>
  </h1>
  <p>
    <%= render 'layouts/dummy_text' %>
  </p>
</section>

<section>
  <h1>
    <a name="projects">Projects</a>
  </h1>
  <p>
    <%= render 'layouts/dummy_text' %>
  </p>
</section>

<section>
  <h1>
    <a name="photography">Photography</a>
  </h1>
  <p>
    <%= render 'layouts/dummy_text' %>
  </p>
</section>

<section>
  <h1>
    <a name="bio">Bio</a>
  </h1>
    <%= render 'layouts/dummy_text' %>
  <p>
  </p>
</section>

<section>
  <h1>
    <a name="contact">Contact</a>
  </h1>
    <%= render 'layouts/dummy_text' %>
  <p></p>
</section>
